html{
    background-color: #333366;
    background-size: cover;
    color: #fdeba4;
    _height: 90%;
    font-size: 12px;
    font-family: 'Lato', sans-serif;

}
body {
    margin: 0;
}



.logo {
    background: url(images/background.png) no-repeat center fixed;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-bottom-style: none;
}
h1 {
    font-size: 4em;
    font-weight: 300;
    margin: 0;
    color: #333366 ;
    text-align: center;
}

a {
    color: #ff3366 ;
    text-decoration: none;
}

#all {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#left{
    display: inline;
    font-size: 20px;
    padding: 1rem;
    
}
#left table {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    font-weight: 100;
    background-color: rgba(0, 0, 0, .2);
    padding: .5em;
    min-width: 200px;

}
#left tr { 
}
#left table td{
    padding: .2em;
}
#left table td.c2{
}
button.soundButton{
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: #fdeba4;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    background-color: rgba(0, 0, 0, .2);
    border: none;
    cursor: pointer;
 }
 .soundButton:hover, .soundButton:active{
  background-color: #993366;
 }
  
 #mid{
  padding: 1rem 0 0 0;

}
#frame{
    width: 100%;
    height: 534px;
}
canvas{

    display: block;
    border-left-style: 2px dashed white;
    margin: auto;
}

#scoreBox{
    position: relative;
    font-size: 12pt;
    font-weight: 100;
  }
  
  #gameOverText{
    position: absolute;
    font-size: 50pt;
    font-weight: 200;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
  
  }


#wrong-device {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

#wrong-device .wrapper {
    position: absolute;
    font-size: 1.25rem;
    font-weight: 300;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100px) translateY(-50%); 
    background-color: rgba(0, 0, 0, .2);
    padding: 1.5em;
}

@media (max-width: 800px){
    #wrong-device{
        display: block;
    }
    #all {
        display: none;
    }
}